<html>
  <head>
    <title>Webhook Friend</title>
    <meta charset="utf-8" />
    <style type="text/css">

      h1 {
        font-family: cursive;
      }

      .output {
        font-family: monospace;
        white-space: pre;
        background-color: lightgray;
        padding: 20px;
      }

    </style>
  </head>
  <body><%= yield %></body>
</html>
